:root {
  --app-debug-border: 202, 104, 122; // #ca687a

  --default-background: 255, 250, 240; // #fffaf0
  --default-surface: 255, 250, 240; // #fffaf0
  --default-subsurface: 20, 17, 14; // #14110E

  --color-lime-rgb: 193, 188, 124; // #c1bc7c
  --color-pink-rgb: 202, 104, 122; // #ca687a
  
  --text-black-rgb: 20, 17, 14; // #14110e
  --text-blue-rgb: 2, 115, 214; // #0273d6
  --text-brown-rgb: 71, 60, 47; // #473c2f
  --text-gray-rgb: 109, 112, 108; // #6d706c
  --text-red-rgb: 242, 82, 112; // #f25270
  --text-purple-rgb: 176, 85, 221; // #b055dd
}